body{
  font:15px/1.5/;
}

h1{
  clear:left;
}

header{
  background-color: black;
  color:#ffffff;
  width:100%;
  position: fixed;
  height: 131px;

}

/* Global property settings*/
ul{
  list-style-type: none;
}

header ul {
  margin:0;
  padding:0;
}

header a {
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header li {
  float:left;
  padding: 0 25px 0 25px;
}

header #img-div{
  float:left;
  height:131px;
}

header nav{
  float: right;
}

.container{
  width: 100%;
}


.section-container{
  padding-top: 150px;
}






@media screen and (max-width:900px) {
  .video {
    width:200px;
    height:200px;
  }
}
