
body{
  font:15px/1.5/;
  width:100%;
  margin:0;
}

header{
background-color: inherit;
width: 100%;
position: fixed;
top: 0;
left: 0;
}

/* Global property settings - Start*/
ul{
  list-style-type: none;
}

header .img-logo {
  height:80px;
}
/* Global property settings - End*/
header ul {
  margin:0;
  padding:0;
}

header a {
  color: #c9f658;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header li {
  padding: 0 25px 0 25px;
  float:left;
}



header nav{
position: absolute;
left: 49%;
top: 47%;
}

.header-container{
  display:flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.background-img{
height: 80px;
background: url(../images/image.1.jpg) no-repeat 0 -4px;
width: 100%;
background-size: cover;
background-attachment: 100%;
max-height: 100%;
}

.fixed-space{
  height:85px;
  width:100%;
  background-color: black;
}

.container h1{
margin: 0px 0 79px 0;
padding: 64px 0 60px 0;
font-size: 143px;
}

.container p{
  margin: 40px auto 100px auto;
  font-size: 40px;
  padding: 30px 0 50px 0;
  width: 79%;
}

.form{
  background: aqua;
  display: block;
  padding: 50px 0;

}

#Contact{

}


#showcase{
background: url(../images/section.1.jpg) no-repeat 0 84px;
color: #ffffff;
text-align: center;
height: 109%;
max-height: 120%;
background-size: cover;
background-attachment: fixed;
}






}



@media screen and (max-width:900px) {
  .video {
    width:200px;
    height:200px;
  }
}
